boto3==1.28.22
coiled==0.9.8
distributed==2023.8.0
earthengine-api==0.1.362
Fiona==1.9.4.post1
geemap==0.25.0
geocube==0.4.2
geopandas==0.13.2
odc-stac==0.3.6
pandas==2.0.3
protobuf==4.24.0
pystac_client==0.7.2
rasterio==1.3.8pytest
Requests==2.31.0
rioxarray==0.14.1
Shapely==2.0.1
xarray==2023.7.0
xarray-spatial==0.3.7
