name: Dev CIF API CI/CD

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'

permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Linux dependencies
      run: |
        sudo apt update
        sudo apt install -y gdal-bin libgdal-dev
    - name: Install Packages
      run: |
        python -m pip install --upgrade pip
        pip install -r .github/requirements.txt
        pip install GDAL==`gdal-config --version`
    - name: Run Tests
      env:
        GOOGLE_APPLICATION_USER: ${{ secrets.GOOGLE_APPLICATION_USER }}
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}     
      run: |
          pytest tests
