name: Dev CIF API CI/CD Conda (ARM64 Fixed)

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: Ubuntu-24.04_8-core_arm64_0.02min
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/conda_pkgs_dir
          ~/.cache/pip
        key: ${{ runner.os }}-deps-${{ hashFiles('environment.yml') }}

    # Install miniforge
    - name: Setup Miniforge (ARM64)
      uses: conda-incubator/setup-miniconda@v2
      with:
        installer-url: https://github.com/conda-forge/miniforge/releases/download/23.3.1-0/Miniforge3-Linux-aarch64.sh
        activate-environment: cities-cif
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false
        auto-update-conda: false

    # Verify environment
    - name: Verify Conda environment
      run: |
        conda env list
        conda list -n cities-cif

    - name: Install Linux dependencies
      run: |
        sudo apt update
        sudo apt install -y gdal-bin libgdal-dev

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Run Tests
      env:
        GOOGLE_APPLICATION_USER: ${{ secrets.GOOGLE_APPLICATION_USER }}
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      run: |
        conda activate cities-cif
        pytest tests -n auto --dist=loadscope --durations=10
