name: Dev CIF API CI/CD Conda

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Set up .cdsapirc
      run: |
        echo "url: ${{ secrets.ERA5_URL }}" > $HOME/.cdsapirc
        echo "key: ${{ secrets.ERA5_KEY }}" >> $HOME/.cdsapirc
    # - name: Preserve $HOME set in the container
    #   run: |
    #     echo $HOME
    #     echo HOME=$HOME >> "$GITHUB_ENV"
    # - name: Add ERA5 API key
    #   run: |
    #     cat <<EOF > $HOME/.cdsapirc
    #     url: ${{ secrets.ERA5_URL }}
    #     key: ${{ secrets.ERA5_KEY }}
    #     EOF
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: cities-cif
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
    - name: Install Linux dependencies
      run: |
        sudo apt update
        sudo apt install -y gdal-bin libgdal-dev
    - name: Run Tests
      env:
        GOOGLE_APPLICATION_USER: ${{ secrets.GOOGLE_APPLICATION_USER }}
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      run: |
          pytest tests
